/* css 초기화  */
* {
  box-sizing: border-box;
  font-family: "SuitVariableKR";
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
table,
input {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  width: 100%;
  overflow: hidden;
}

body {
  width: 100%;
  line-height: 1;
  background-color: #fafafa;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style: none;
}

button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

tbody {
  max-height: 600px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
  }

  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

#root {
  width: 100%;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.scrollHidden {
  &::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
  }

  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.gm-style-iw-chr > button {
  display: none !important;
}

.rdrCalendarWrapper {
  background-color: #fafafa !important;
  position: relative !important;
}

.rdrMonth {
  padding: 3px !important;
  width: 100% !important;
}

.rdrNextPrevButton {
  background-color: #fafafa !important;
}

.rdrDayNumber {
  top: 0 !important;
}

.rdrDay {
  height: 40px !important;
}

.rdrDayToday {
  ::after {
    display: none !important;
  }
}

.rdrMonthAndYearPickers {
  font-size: 16px;
}

.rdrDayStartOfWeek > span > span {
  color: #ff5757;
}

.rdrStartEdge,
.rdrEndEdge {
  background-color: #6979f8 !important;
  border: 1px solid #6979f8 !important;
}

.rdrInRange ~ span > span {
  color: black !important;
}
